/*默认字体大小*/
$medical-font_12:12px;
$medical-font_13:13px;
$medical-font_14:14px;
$medical-font_15:15px;
$medical-font_16:16px;
$medical-font_18:18px;
$medical-font_20:20px;
/*默认边框阴影*/
$medical-shadow_grey:rgba(0,0,0,.2);
$medical-shadow_lightGrey:rgba(0,0,0,.1);
/*默认字体颜色*/
$medical-col_default:#333;
$medical-col_666:#666;
$medical-col_999:#999;
$medical-col_white:#fff;
$medical-col_d3:#d3d3d3;
$medical-col_cyan:rgb(76,223,213);
$medical-col_lightblue:rgb(0,214,242);
$medical-col_green:rgb(64,198,163);
$medical-col_blue:rgb(127,138,204);
$medical-col_orange:rgb(255,101,85);
/*默认背景颜色*/
$medical-bgCol_default:#999;
$medical-bgCol_white:#fff;
$medical-bgCol_ddd:#ddd;
$medical-bgCol_d3:#d3d3d3;
$medical-bgCol_ce:#cecddb;
$medical-bgCol_tran:rgba(0,0,0,0);
$medical-bgCol_grey:rgba(0,0,0,0.05);
$medical-bgCol_cyan:rgb(76,223,213);
$medical-bgCol_lightblue:rgb(0,214,242);
$medical-bgCol_green:rgb(64,198,163);
$medical-bgCol_blue:rgb(127,138,204);
$medical-bgCol_orange:rgb(255,101,85);
$medical-bgCol_gradientred:linear-gradient(to bottom, rgb(128,169,182) , rgb(164,131,163));
$medical-bgCol_gradient:linear-gradient(to right, rgb(133,144,195) , rgb(141,207,203));
$medical-bgCol_gradientBlue:linear-gradient(to right, rgb(1,215,211) , rgb(27,205,255));
$medical-bgCol_gradientIm:linear-gradient(to right, rgb(154,197,206) , rgb(138,148,197));
/*默认边框颜色*/
$medical-borCol_default:#999;
$medical-borCol_white:#fff;
$medical-borCol_ddd:#ddd;
$medical-borCol_d3:#d3d3d3;
$medical-borCol_ce:#cecddb;
$medical-borCol_tran:rgba(0,0,0,0);
$medical-borCol_grey:rgba(0,0,0,0.05);
$medical-borCol_cyan:rgb(76,223,213);
$medical-borCol_lightblue:rgb(0,214,242);
$medical-borCol_green:rgb(64,198,163);
$medical-borCol_blue:rgb(127,138,204);
$medical-borCol_orange:rgb(255,101,85);

